@using Ouvidoria.Web.ViewModels.Registro
@model IEnumerable<RegistroViewModel>

<div>
    <div class="row table_header">
        <div class="col">Titulo</div>
        <div class="col">Tipo</div>
        <div class="col">Status</div>
        <div class="col">Natureza</div>
        <div class="col">Ações</div>
    </div>
    <div>
        @if (Model.Count() > 0)
        {
            foreach (RegistroViewModel rm in Model)
            {
                <div class="row table_row">
                    <div class="col">@rm.Titulo</div>
                    <div class="col">@rm.Tipo</div>
                    <div class="col">@rm.Status</div>
                    <div class="col">@rm.TipoRegistro</div>
                    <div class="col"><a asp-action="Registro" asp-controller="Administrador" asp-route-id=@rm.Id><img width=25
                                height=25 src="~/svg/circle-info-solid.svg" /></a></div>
                </div>
            }
        }
        else
        {
            <h1>Não há registros</h1>
        }
    </div>
    </table>
</div>

@section Scripts {

}

@section Styles {

    <style>
        .table_header {
            background-color: #555;
            color: white;
            padding: 10px 0;
        }

        .table_row {
            padding: 10px 0;
        }

        .table_row:nth-child(even) {
            background-color: #999;
        }

        .table_row:nth-child(odd) {
            background-color: #aaa;
        }
    </style>
}