<!-- _SiteNav.cshtml -->

<header class="header">
    <h1 class="logo">Sistema de Ouvidoria</h1>
    <nav class="nav-desktop">
        <a asp-controller="Home" asp-action="Registro">Registro</a>
        <a asp-action="RegistrarCidadao" asp-controller="User">Cadastrar-se</a>
        <a asp-action="Login" asp-controller="User">Login</a>
    </nav>
</header>

<!-- Navbar para mobile -->
<nav class="nav-mobile">
    <a asp-controller="Home" asp-action="Registro">Registro</a>
    <a asp-action="RegistrarCidadao" asp-controller="User">Cadastro</a>
    <a asp-action="Login" asp-controller="User">Login</a>
</nav>
