<!-- _SiteNav.cshtml -->

<header class="header">
    <h1 class="logo">Sistema de Ouvidoria</h1>
    <nav class="nav-desktop">
        <a href="#">Enviar Denúncia</a>
        <a href="#">Cadastrar-se</a>
        <a href="#">Login</a>
    </nav>
</header>

<!-- Navbar para mobile -->
<nav class="nav-mobile">
    <a href="#">Denúncia</a>
    <a href="#">Cadastro</a>
    <a href="#">Login</a>
</nav>
