.table_header {
    background-color: #555;
    color: white;
    padding: 10px 0;
}

.table_row {
    padding: 10px 0;
}

.table_row:nth-child(even) {
    background-color: #999;
}

.table_row:nth-child(odd) {
    background-color: #aaa;
}