@using Ouvidoria.Web.ViewModels.Registro;
@model RegistroFormViewModel

<div class="row py-5">
    <div class="col-6">
        <hgroup>
            <h2>Denunciante</h2>
            <p>@if(Model.Autor is not null){
                @Model.Autor.Nome
                                }
                                else
                {
                    @:Autor não identificado
                }
            </p>
        </hgroup>

        <hgroup>
            <h2>Título</h2>
            <p>@Model.Titulo</p>
        </hgroup>

        <hgroup>
            <h2>Detalhes</h2>
            <p style="text-align:justify">@Model.Descricao</p>
        </hgroup>
    </div>
    <div class="col-6">
        <div class="d-flex col">
            <label class="col-3" for="">Alterar Status</label>
            <select asp-for="@Model.Status" asp-items=Model.StatusList>
            </select>
        </div>
        <div class="d-flex col">
            <label class="col-3" for="">Descreva a atualização</label>
            <textarea class="w-100"></textarea>
        </div>
        <div class="d-flex justify-content-center py-4">
            <button class="botao verde">Enviar</button>
        </div>
    </div>
</div>