@{
    var token = ViewData["TokenAcesso"];
}

<div class="d-flex align-items-center justify-content-center min-vh-100">
    <div class="card p-5 shadow" style="max-width: 600px; text-align: center;">
        <div class="mb-4">
            <h2 class="text-success fw-bold">Registro criado com sucesso!</h2>
            <p class="text-muted fs-5">Você pode acessar o seu registro clicando no link abaixo:</p>
        </div>

        <div class="mb-3">
            <a class="botao verde" 
               href="https://localhost:7171/Home/Registro/@token" 
               target="_blank">
                Acessar meu registro
            </a>
        </div>

        <p style="font-size: 0.85rem; word-break: break-word;">
            </br><strong>Link direto:</strong><br>
            <a class="link-verde" href="https://localhost:7171/Home/Registro/@token" target="_blank">
                https://localhost:7171/Home/Registro/@token
            </a>
        </p>
    </div>
</div>
