@using Ouvidoria.Web.ViewModels.Usuario
@model LoginViewModel
@{
    string returnUrl = "";
    if (Context.Request.Query.ContainsKey("returnUrl"))
    {
        returnUrl = Context.Request.Query["returnUrl"].ToString();
    }
}
<div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-md-6 col-lg-5">
        <div class="card shadow-sm">
            <div class="card-body p-4">
                <h1 class="h4 text-center mb-4">Sistema de Ouvidoria</h1>
                <h2 class="h5 text-center mb-4 text-muted">Login:</h2>

                <form method="POST" asp-action="Login">
                    <div class="mb-3">
                        <label for="username" class="form-label">Email</label>
                        <input type="text" class="form-control" asp-for=@Model.Email placeholder="exemplo@gmail.com"
                            required>
                        <span class="text-danger" asp-validation-for="@Model.Email"></span>
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Senha:</label>
                        <div class="input-group">
                            <input type="password" class="form-control" asp-for=@Model.Password required>
                            <button class="btn btn-outline-secondary toggle-password" type="button">
                                <i class="fas fa-eye"></i>
                            </button>
                        </div>
                        <span class="text-danger" asp-validation-for="@Model.Password"></span>
                    </div>

                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="remember">
                        <label class="form-check-label" for="remember">Lembre-se de mim</label>
                    </div>

                    <div class="text-center mt-3">
                        <a asp-controller="User" asp-action="RegistrarCidadao" class="custom-link text-decoration-none">
                            Efetuar cadastro
                        </a>
                    </div>

                    <div class="text-center mt-3">
                        <a href="Senha.html" class="custom-link text-decoration-none">
                            Esqueci minha senha
                        </a>
                    </div>

                    <div class="text-center mt-3">
                        @if (ViewBag.InLineErrors is not null)
                            @foreach (var item in ViewBag.InLineErrors)
                            {
                                <span>@item</span>
                            }
                    </div>

                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="button" class="btn btn-outline-secondary" id="cancelBtn">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
