<div class="h-100 d-flex justify-content-center align-items-center">
    <div>
        <img class="d-block mx-auto pb-5" src="~/svg/triangle-exclamation-solid.svg" width="160px" height="160px">
        <h2 class="text-danger">@Model</h2>
    </div>
</div>