<div class="text-center h-100 d-flex flex-column align-items-center justify-content-center">
    <h2 class="titulo">Sistema de Ouvidoria</h2>
    <p class="descricao">
        Um jeito fácil e seguro de fazer denúncias ou solicitações, sem precisar ir até um lugar físico ou pegar fila!
        <br />
        Faça sua denúncia anonimamente, ou crie uma conta e se identifique.
    </p>

    <div class="botoes">
        <a href="#" class="botao verde">Enviar anonimamente</a>
        <a href="#" class="botao borda">Cadastrar-se →</a>
    </div>
</div>
